<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Disabled</key>
	<false/>
	<key>GroupName</key>
	<string>staff</string>
	<key>InitGroups</key>
	<true/>
	<key>KeepAlive</key>
	<false/>
	<key>Label</key>
	<string>org.canfly.rvm</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/adiom/Documents/Canfly/amalgama/start</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/Users/adiom/Documents/stderr</string>
	<key>StandardOutPath</key>
	<string>/Users/adiom/Documents/stdout</string>
	<key>UserName</key>
	<string>adiom</string>
	<key>WorkingDirectory</key>
	<string>/Users/adiom/Documents/Canfly/amalgama</string>
</dict>
</plist>
